/*<===========DU1 "Sidan" CSS===========>*/
@font-face {
    font-family: BungeeOutline-Regular;
    src: url("Fonts/Bungee/BungeeOutline-Regular.ttf")
}

@font-face {
    font-family: BungeeShade-Regular;
    src: url(Fonts/Bungee/BungeeShade-Regular.ttf);
}

@font-face {
    font-family: Barlow_Condensed;
    src: url(Fonts/Barlow_Condensed/BarlowCondensed-Black.ttf);
}

/*<===styles===>*/
* {
    margin: 0;
}

body {
    /*font-styles*/
    --font-size: 1.4vw;
    font-family: Barlow Condensed;
    color: rgba(199, 199, 199);

    /*background image*/
    background-image: url("./images/desktop-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;

    /* positioning */
    margin: 0;
    padding: 5vw 1vw 3vw 1vw;
    height: 100vh;
    width: 100vw;
}

.container {
    border-radius: 25px;
    box-sizing: border-box;
    margin: 35px;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 0px 35px;
}

/*main page grid for th*/
#the_handmaiden {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 1vh;
}

/*article styles */
article>div {
    font-size: var(--font-size)
}

article {
    border-radius: 25px;
    border: 2px solid rgba(211, 211, 211, 0.5);
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.5);
}

/*header styles*/
header {
    font-family: BungeeShade-Regular;
    font-size: calc(2.6*var(--font-size));
    color: rgb(210, 205, 205);
    margin-bottom: -50px;
}

.heading {
    line-height: 13vh;
}

.h1 {
    font-family: BungeeOutline-Regular;
    font-weight: bold;
    font-size: calc(2.3*var(--font-size));
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
}

.h2-the_handmaiden {
    color: #98736a;
    margin-bottom: 20px;
    font-size: calc(1.8 * var(--font-size));
}

.h2_snowpiercer {
    color: #466365;
    margin-bottom: 20px;
    font-size: calc(1.8 * var(--font-size));
}

/*===navigation styles===*/
nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vh;
    margin-top: 55px;
    margin-bottom: 65px;
    text-align: center;
}

.navigation {
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(242, 240, 240, 0.5);
    font-size: calc(1.6 * var(--font-size));
    color: rgb(15, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* marked styles*/
.marked {
    color: black;
    font-weight: bold;
    border: 2px solid rgba(231, 207, 207, 0.4);
    box-shadow: 0px 0px 12px 0px white;
}

.navigation:hover:not(.marked) {
    color: rgba(231, 207, 207, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
}

/* ==== cover styles ====*/
.cover {
    position: relative;
    grid-column: 2;
}

.cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.show_not_hover {
    top: 0;
    right: 0;
    position: absolute;
    transition-property: opacity;
    transition-duration: 1s;
    opacity: 1;
}

.show_not_hover:hover {
    opacity: 0;
}

.show_not_hover,
.show_hover {
    border-radius: 30px 30px 0 0;
}

/* the handmaiden styles */
.album_data {
    grid-row: 1/3;
    margin-right: 1vh;
    margin-bottom: -5px;
    color: rgb(217, 217, 217, 0.8);
}

.musicians {
    margin-bottom: 20px;
    font-size: var(--font-size);
}

/*==== song styles ====*/
/*div ALL songlist boxes, same column as cover*/
.song_list {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vh;
}

.songlist-1 {
    background-color: #98736a;
    color: #f7f4eb;
    border-radius: 0 0 0 25px;
    padding: 2vh;
    font-size: calc(0.9 * var(--font-size));
}

.songlist-2 {
    background-color: #98736a;
    color: #f7f4eb;
    border-radius: 0 0 25px 0;
    padding: 2vh;
    font-size: calc(0.9 * var(--font-size));
}

/*songs ul*/
.songs {
    list-style: decimal;
    margin-left: -2.6vh;
}

.no_list {
    list-style: none;
}

/* TH anecdote styles*/
.anecdotes-the_handmaiden {
    padding: 0;
    list-style: none;
    gap: 0.8vh;
    margin-top: 0.9vh;
    margin-bottom: -1vh;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-column: 1 / span 2;
    font-size: calc(1*var(--font-size));
}

.top_right_90 {
    border-radius: 17px 0 17px 17px;
    color: #98736a;
    background-color: #f7f4eb;
    display: flex;
    align-items: center;
    grid-column: 1;
    padding: 2vh;
}

.two_wide_bottom_left_90 {
    border-radius: 17px 0 17px 17px;
    color: #98736a;
    background-color: #f7f4eb;
    display: flex;
    align-items: center;
    grid-column: 3/4;
    padding: 2vh;
}

.top_left_90 {
    grid-row: 1;
    grid-column: 4/5;
    border-radius: 0 17px 17px 17px;
    padding: 2vh;
}

.pcw-director {
    background-image: url("./images/th3.jpg");
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 0.6vh black;
    background-position: 70% 50%;
}

.bottom_right_90 {
    border-radius: 17px 17px 0 17px;
    color: #98736a;
    background-color: #f7f4eb;
    display: flex;
    align-items: flex-end;
    align-items: center;
    grid-row: 1;
    grid-column: 5/6;
    padding: 2vh;
}

/*<===Snowpiercer===>*/

/*main grid for th*/
#snowpiercer {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 1vh;
    color: #466365;
    margin-top: 25px;
    margin-bottom: 65px;
}

/*=== song lists ===*/
.song_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.songlist-3 {
    color: #C7DBE6;
    background-color: #466365;
    padding: 2vh;
    border-radius: 0 0 0 25px;
    font-size: calc(1 * var(--font-size));
}

.songlist-4 {
    color: #C7DBE6;
    background-color: #466365;
    padding: 2vh;
    border-radius: 0 0 25px 0;
    font-size: calc(1 * var(--font-size));
}

/* SP anecdote styles*/
.anecdotes_snowpiercer {
    display: grid;
    grid-column: 1 / 3;
    grid-template-rows: 25vh;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    gap: 1vh;
    padding: 0;
    margin-top: 0.8vh;
    margin-bottom: -1.5vh;
    list-style: none;
    font-size: calc(1*var(--font-size));
}

.anecdotes_snowpiercer>li:not(.tablet_empty, .phone_empty, image, .pcw-director2) {
    display: flex;
    align-items: center;
    background-color: #C7DBE6;
    color: #466365;
}

.snowpiercer-anecdote1 {
    border-radius: 17px 17px 17px 0;
    grid-row: 1;
    grid-column: 1;
    padding: 2vh;
}

.snowpiercer-anecdote2 {
    grid-row: 1;
    grid-column: 2/3;
}

.pcw-director2 {
    background-image: url("./images/th5.jpg");
    background-size: cover;
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 0.6vh black;
}

.snowpiercer-anecdote4 {
    border-radius: 17px 17px 0 17px;
    padding: 2vh;
    grid-row: 1;
    grid-column: 4/5;
}

footer {
    padding-bottom: 7px;
    font-size: var(--font-size);
}

/*<========Media Queries========>*/

/*<====desktop styles====>*/

/*fixed font-sizes 1111px>*/
@media (min-width: 1111px) {
    body {
        --font-size: 15.5333px;
    }

    .heading {
        font-size: 80.8333px;
    }

    .anecdotes_snowpiercer,
    .anecdotes-the_handmaiden {
        font-size: 15.5333px;
    }
}

/*fixed font-sizes >900px*/
@media screen and (max-width: 900px) {
    body {
        font-size: 12.5833px;
        background: url("images/desktop-background.jpg") no-repeat center center fixed;
        background-size: cover;
    }

    .heading {
        font-size: 65.5667px;
        line-height: 11vh;
    }

    .navigation {
        font-size: 20.15px;
    }

    .h1 {
        font-size: 28.9667px;
    }

    .h2-the_handmaiden,
    .h2_snowpiercer {
        font-size: 22.6667px;
    }

    .song_list div {
        font-size: 11.3333px;
    }

    .musicians,
    .album_data,
    .anecdotes-the_handmaiden,
    .anecdotes_snowpiercer,
    .footer {
        font-size: 12.5833px;
    }
}

/*<====tablet styles====>*/
@media screen and (max-width: 800px) {
    body {
        margin: 0;
        background: url("./images/tablet-background.jpg") no-repeat center center fixed;
        background-size: cover;
        padding: 0;
        --font-size: 1.4vw;
    }

    .container {
        margin-top: 10vh;
    }

    #the_handmaiden {
        display: grid;
        gap: 1vh;
        grid-template-rows: auto;
        grid-template-columns: 1.4fr 1fr;
    }

    #snowpiercer {
        gap: 1vh;
        display: grid;
        grid-template-rows: auto auto auto 1fr;
        grid-template-columns: 1.4fr 1fr;
    }

    .heading {
        text-align: center;
        font-size: calc(6.8*var(--font-size));
        margin-bottom: 6vh;
        padding-bottom: 2.8vh;
        padding-top: 3vh;
        line-height: 9vh;
    }

    nav {
        margin-top: 0px;
        margin-bottom: 6vh;
    }

    .navigation {
        font-size: calc(2.2*var(--font-size));
        padding: 0.7vh 2.2vw;
    }

    .h1 {
        font-size: calc(5*var(--font-size));
        line-height: 7.8vh;
    }

    .h2-the_handmaiden,
    .h2_snowpiercer {
        font-size: calc(3.5*var(--font-size))
    }

    .album_data {
        grid-row: 2/3;
        grid-column: 1/3;
        margin-bottom: 7px;
        font-size: calc(1.8*var(--font-size));
    }

    .musicians {
        font-size: calc(1.8*var(--font-size));
    }

    /*TH SP cover styles*/
    .cover {
        grid-column: 1/2;
    }

    .cover img {
        border-radius: 25px 0 0 25px;
    }

    .show_not_hover:hover {
        opacity: 1;
    }

    #snowpiercer>.cover {
        padding-bottom: 25px;
        border-radius: 25px 0 0 20px;
        grid-column: 1/2;
        /*^^positioning tablet^^!*/
        background-color: #466365;
    }

    #snowpiercer>.cover>.show_not_hover {
        height: auto;
    }

    /*song list styles*/
    .song_list {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column: 2/3;
    }

    /*all 4 songlists*/
    .all_songs {
        padding-left: 2vw;
    }

    .songlist-1,
    .songlist-3 {
        border-radius: 0 25px 0 0;
    }

    .song_list div,
    .anecdotes-the_handmaiden {
        font-size: calc(1.5*var(--font-size))
    }

    /* the handmaiden anecdotes*/
    .anecdotes-the_handmaiden {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, 1fr);
    }

    .top_right_90 {
        grid-column: 1;
    }

    .two_wide_bottom_left_90 {
        grid-row: 1;
        grid-column: 3/5;
    }

    .top_left_90 {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .pcw-director {
        background-position: left;
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .bottom_right_90 {
        grid-row: 2;
        grid-column: 3/4;
    }

    /* snowpiercer anecdotes*/
    .anecdotes_snowpiercer {
        font-size: calc(1.5*var(--font-size));
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
    }

    .snowpiercer-anecdote1 {
        grid-column: 1/3;
    }

    .snowpiercer-anecdote2 {
        grid-row: 1;
        grid-column: 3/4;
    }

    .pcw-director2 {
        grid-row: 2;
        grid-column: 2/4;
    }

    .snowpiercer-anecdote4 {
        grid-row: 2;
        grid-column: 4/5;
    }

    footer {
        font-size: calc(1.4*var(--font-size));
    }
}

/*<====mobile styles====>*/
@media screen and (max-width: 500px) {
    body {
        background: url("./images/mobile-background.jpg") no-repeat center center fixed;
        background-size: cover;
        padding: 0;
        margin: 0;
        --font-size: 1.4vw;
    }

    .container {
        margin: 0;
        width: 100vw;
        padding-top: 25px;
        border-radius: 0;
        /*no rounded corners*/
    }

    /*header styles*/
    .heading {
        text-align: center;
        font-size: calc(7*var(--font-size));
        margin-bottom: 6vh;
        padding-bottom: 2.8vh;
        line-height: 5.7vh;
    }

    .h1 {
        font-size: calc(5.1*var(--font-size));
        line-height: 4.5vh;
    }

    .h2-the_handmaiden,
    .h2_snowpiercer {
        font-size: calc(3.7*var(--font-size))
    }

    nav {
        margin-top: 0px;
        margin-bottom: 6vh;
    }

    .navigation {
        font-size: calc(2.5*var(--font-size));
        padding: 0.4vh 2.2vw;
    }

    /* TH SP cover styles*/
    .cover {
        grid-column: 1/3;
    }

    .cover img {
        border-radius: 25px 25px 0 0;
    }

    #snowpiercer>.cover {
        grid-column: 1/3;
        margin-bottom: 0.4vh;
        /*^^positioning mobile^^!*/
    }

    .musicians {
        font-size: calc(2.4*var(--font-size));
    }

    .album_data {
        grid-row: 3/4;
        font-size: calc(2.4*var(--font-size));
    }

    /*song list styles*/
    .song_list {
        display: grid;
        grid-column: 1/3;
        grid-row: 2/3;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .songlist-1,
    .songlist-3 {
        border-radius: 0 0 0 25px;
    }

    .song_list div {
        font-size: calc(2.1*var(--font-size))
    }

    /*the handmaiden anecdotes */
    .anecdotes-the_handmaiden {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: calc(2.2*var(--font-size));
    }

    .two_wide_bottom_left_90 {
        grid-column: 2/4;
    }

    /*snowpiercer anecdotes */
    .anecdotes_snowpiercer {
        font-size: calc(2.2*var(--font-size));
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .snowpiercer-anecdote1 {
        grid-column: 1/2;
    }

    .snowpiercer-anecdote2 {
        grid-column: 2/3;
    }

    .pcw-director2 {
        grid-column: 1;
    }

    .snowpiercer-anecdote4 {
        grid-row: 2;
        grid-column: 2/3;
    }

    footer {
        font-size: calc(1.9*var(--font-size));
    }
}